* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// Font設定（NotoSansJP）
@font-face {
    font-family: "NotoSansJP";
    src: url("fonts/NotoSansJP/NotoSansJP-Regular.woff2") format('woff2'),
         url("fonts/NotoSansJP/NotoSansJP-Regular.woff") format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: "NotoSansJP";
    src: url("fonts/NotoSansJP/NotoSansJP-Bold.woff2") format('woff2'),
         url("fonts/NotoSansJP/NotoSansJP-Bold.woff") format('woff');
    font-weight: bold;
    font-style: normal;
}
// color
$aqua: #1f286f;
$main_color: #333;

@keyframes headerAnimation {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    100% {
        opacity: 100;
        transform: translateY(0);
    }
}
// レイアウト幅
$layout-width-inner: 1200px;
// ブレークポイント
$breakpoints: (
  "sp": "screen and (max-width: 767px)",
  "tab": "screen and (max-width: #{$layout-width-inner - 1px})",
  "pc": "screen and (min-width: #{$layout-width-inner})",
);
// メディアクエリー
@mixin mq($breakpoint: sp) {
    @media #{map-get($breakpoints, $breakpoint)} {
      @content;
    }
}


body {
    color: $main_color;
    font-family: 'NotoSansJP', sans-serif;
}

/*------------------------------
Main contents
------------------------------*/
header {
    position: fixed;
    top: 0;
    height: 100px;
    width: 100%;
    padding: 0 40px;
    background: #fff;
    z-index: 99;
    @include mq('tab') {
        height: 60px;
        padding: 0;
    }
    .header__inner {
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        h1 {
            a {
               font-size: 24px;
               color: $aqua;
               text-decoration: none;
               @include mq('tab') {
                   font-size: 20px;
                   margin-left: 20px;
               }
            }
        }
        .hum-box {
            display: none;
            z-index: 999;
            cursor: pointer;
            margin-right: 20px;
            @include mq('tab') {
                display: inline;
            }
            &.open {
                .hum-line {
                    &:nth-child(1) {
                        top: 10px;
                        -webkit-transform: rotate(45deg);
                        transform: rotate(45deg);
                    }
                    &:nth-child(2) {
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        opacity: 0;
                    }
                    &:nth-child(3) {
                        top: -10px;
                        -webkit-transform: rotate(-45deg);
                        transform: rotate(-45deg);
                    }
                }
            }
            .hum-line {
                position: relative;
                display: block;
                height: 2px;
                width: 30px;
                background-color: $aqua;
                -webkit-transition: ease .5s;
                transition: ease .5s;
                &:nth-child(1) {
                    top: 0;
                }
                &:nth-child(2) {
                    margin: 8px 0;
                }
                &:nth-child(3) {
                    top: 0;
                }
            }
        }
        .header__nav {
            display: flex;
            align-items: center;
            .header__nav__list {
                list-style: none;
                display: block;
                .item {
                    display: inline-block;
                    letter-spacing: 0;
                    a {
                        position: relative;
                        display: inline-block;
                        font-size: 15px;
                        font-weight: 900;
                        letter-spacing: 1px;
                        cursor: pointer;
                        color: $main_color;
                        text-decoration: none;
                        &::after {
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 2px;
                            background: $aqua;
                            transform: scale(0, 1);
                            transform-origin: center top;
                            transition: transform .3s;
                        }
                        &:hover::after {
                            transform: scale(1, 1);
                        }
                    }
                    & + .item {
                        margin-left: 40px;
                    }
                }
            }
            @include mq('tab') {
                display: flex;
                position: absolute;
                top: 60px;
                width: 100%;
                padding: 30px 0;
                background-color: #fff;
                text-align: center;
                opacity: 0;
                transform: translateX(-100%);
                transition:all ease-in-out .5s;
                z-index:990;
                .header__nav__list {
                    position: relative;
                    width: 100%;
                    height: auto;
                    text-align: center;
                    .item {
                        display: block;
                        margin: 20px 0;
                        & + .item {
                            margin-left: 0;
                        }
                    }
                }
                &.open {
                    transform: translateX(0);
                    opacity: 1;
                }
            }
        }
    }
}

main {
    padding-top: 100px;
    max-width: 1240px;
    margin: 0 auto;
    @include mq('tab') {
        margin: 0 16px;
    }
    @include mq('sp') {
        padding-top: 40px;
    }
}

.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include mq('sp') {
        flex-direction: column;
    }
    .svg_box {
        width: 580px;
        @include mq('tab') {
            width: 360px;
        }
        @include mq('sp') {
            width: 100%;
        }
    }
    .inputData_box {
        width: 580px;
        height: calc(100vh - 200px);
        overflow: scroll;
        @include mq('tab') {
            width: 360px;
        }
        @include mq('sp') {
            width: 100%;
            height: calc(100vh/2 - 80px);
        }
    }
}


.input_box {
    width: 100%;
    border: solid 2px $aqua;
    border-radius: 8px;
    margin-bottom: 16px;
    padding: 8px 16px;;
    p {
        font-size: 20px;
        color: $aqua;
        line-height: 1;
        margin-bottom: 8px;
    }
    textarea {
        display: inline-block;
        width: calc(100% - 32px);
        padding: 8px;
        vertical-align: top;
        max-height: 170px;
        border: none;
        font-size: 18px;
        font-family: 'NotoSansJP', sans-serif;
        font-weight: normal;
        outline: none;
        line-height: 1.6;
        resize: vertical;
    }
    .label_box {
        label {
            font-size: 16px;
            &:not(:nth-child(1)) {
                margin-left: 32px;
            }
        }
        input[type="radio"] {
            margin-right: 8px;
        }
    }
    input[type="text"] {
        width: calc(100% - 32px);
        border: none;
        font-size: 20px;
        &:focus {
            outline: none;
        }
        &::placeholder {
            color: $aqua;
            opacity: 0.3;
        }
    }
    input[type="textarea"] {
        width: calc(100% - 32px);
        display: block;
        font-size: 20px;
        border: none;
        &::placeholder {
            color: $aqua;
            opacity: 0.3;
        }
        &:focus {
            outline: none;
        }
    }
}

.ns_select-box {
    p {
        font-size: 16px;
        margin-bottom: 8px;
    }
    .radiobox {
        input {
            vertical-align: middle;
            margin-right: 16px;
        }
        label {
            font-size: 16px;
            &:not(:nth-child(1)) {
                margin-left: 40px;
            }
        }
    }
}

.svg-make_button {
    padding: 8px 32px;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    background: $aqua;
    color: #fff;
    cursor: pointer;
    &:active {
        opacity: 0.5;
    }
}

.modal {
    display: none;
}

.usage_container {
    max-width: $layout-width-inner;
    margin: 0 auto;
    padding: 0 16px;
}